@import "custom-styles";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.app-notes-list {
  &__spinner {
    width: 4em;
    height: 4em;
    color: $persian-pink;
  }

  &__add {
    // text-decoration: none;
    // position: absolute;
    // bottom: 20px;
    // right: 20px;

    // button {
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: $purple;
    border-radius: 50%;
    border: 1px solid $purple;
    color: white;
    // transition: 0.2s ease all;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    i {
      // transition: 0.2s ease all;
      margin-right: 15px;
      color: white;
    }

    // &:hover {
    //   transition: 0.2s ease all;
    //   color: $purple;
    //   border: 1px solid $purple;
    //   background: white;

    //   i {
    //     color: $purple;
    //   }
    // }
    // }
  }

  &__filter {
    &__container {
      i {
        position: absolute;
        padding: 10px;
        pointer-events: none;
      }

      &__input {
        padding-left: 2.5em;
        border-radius: 50px;
        box-shadow: none;
        background: #ececec66;
        transition: 0.3s ease all;

        &:focus {
          border-color: transparent;
          transition: 0.3s ease all;
          box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
        }
      }
    }
  }

  &__items {
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;

    @include media-breakpoint-down(xl) {
      max-height: 65vh;
    }

    a {
      text-decoration: none;
    }
  }

  &__item {
    position: relative;
    background: white;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;

    border: 1px solid rgba(black, 0.068);
    &__icon {
      font-size: 12px;
      height: 12px !important;
      width: 12px !important;
    }

    &__footer {
      font-size: 10px;
      color: #555;
      display: flex;
      align-items: center;
    }

    &:hover {
      box-shadow: 0px 2px 15px 2px rgba(black, 0.068);
      cursor: pointer;
    }

    &__title {
      margin: 0;
      margin-top: 20px !important;
      font-size: 22px;
      font-weight: bold;
      color: $purple;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__body {
      margin: 0;

      max-height: 80px;
      overflow: hidden;
      position: relative;
      color: #555;
    }

    &__remove {
      position: absolute;
      top: 12px;
      right: 12px;
      height: 34px;
      width: 34px;
      background-color: $light-red;
      border-radius: 4px;

      display: flex;
      align-items: center;
      justify-content: center;
      color: red;

      transition: 0.25s ease all;

      &:hover {
        background-color: darken($light-red, 3%);
      }
    }
  }
}
