<app-header
  [input]="{ showGoBackIcon: false, step: noteSteps.LIST }"
></app-header>

<section class="app-notes-list">
  <div class="container">
    <div class="row mt-3 py-2">
      <div class="col-12 col-lg-4 mx-auto">
        <div class="row">
          <div class="col-12">
            <span class="app-notes-list__filter__container">
              <i class="fas fa-search"></i>
              <input
                type="text"
                class="form-control app-notes-input"
                placeholder="Filter notes"
              />
            </span>
          </div>
        </div>

        <div class="row app-notes-list__items">
          <div class="col-12 mt-3" *ngFor="let item of notes; index as i">
            <div
              class="app-notes-list__item"
              [@deleteUndeleteState]="item?.isDeleted ? 'delete' : 'void'"
            >
              <a [routerLink]="['/notes', item?.id]">
                <p class="app-notes-list__item__title">
                  {{ item?.title }}
                </p>
                <div class="app-notes-list__item__body">
                  <p>{{ item?.body }}</p>
                </div>
              </a>
              <span
                class="app-notes-list__item__remove"
                (click)="removeNote(i)"
              >
                <i class="fas fa-x"></i>
              </span>

              <div class="row">
                <div
                  class="col-12 d-flex align-items-center justify-content-between"
                >
                  <i
                    (click)="pinNote(i)"
                    [@pinUnpin]="item?.isPinned ? 'pinned' : 'unPinned'"
                    class="fa-sharp fa-solid fa-thumbtack"
                  ></i>

                  <i
                    (click)="completeNote(i)"
                    [@completeIncomplete]="
                      item?.isComplete ? 'complete' : 'inComplete'
                    "
                    class="fa-solid fa-circle-check"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mt-3">
            <button
              type="button"
              class="app-notes-list__add"
              (click)="addNote()"
            >
              <i class="fas fa-plus"></i>
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
