<app-header [input]="{ showGoBackIcon: false, step: noteSteps.LIST }"></app-header>

<section class="app-notes-list">
  <div class="container">
    <div class="row mt-3 py-2">
      <div class="col-12 col-lg-4 mx-auto">
        <div class="row">
          <div class="col-12">
            <span class="app-notes-list__filter__container">
              <mat-form-field class="w-100">
                <mat-icon matPrefix>search</mat-icon>
                <mat-label>Filter notes</mat-label>
                <input type="text" matInput formControlName="title" placeholder="Type to begin searching ..."
                  (keydown.enter)="searchNotes($event)">
              </mat-form-field>
            </span>
          </div>
        </div>

        <div class="row app-notes-list__items" *ngIf="!isLoading">

          <ng-container *ngFor="let note of notes; let i = index; trackBy: noteTrackByFn">
            <!-- <div [ngClass]="!note?.isArchived ? 'col-12 mt-3' : 'd-none'"> -->
            <div class="col-12 app-notes-list__item" [@delete]="note?.isArchived ? 'delete' : 'void'">

              <a [routerLink]="['/notes', note._id]">
                <p class="app-notes-list__item__title">
                  {{ note?.title }}
                </p>
                <div class="app-notes-list__item__body">
                  <div [innerHTML]="note?.body"></div>
                </div>
              </a>
              <span class="app-notes-list__item__remove" (click)="removeNote(note._id)">
                <mat-icon>close</mat-icon>
              </span>

              <div class="row">
                <div class="col-12 d-flex align-items-center justify-content-between">
                  <mat-icon (click)="pinNote(note)" [@pinUnpin]="note?.isPinned ? 'pinned' : 'unPinned'"
                    aria-label="Pin Note">push_pin</mat-icon>

                  <mat-icon (click)="completeNote(note)" [@completeIncomplete]="
                note?.isComplete ? 'complete' : 'inComplete'" aria-label="Complete Note">task_alt
                  </mat-icon>
                </div>

                <div class="app-notes-list__item__footer">
                  <small>
                    {{ note?.dateCreated | date : "short" }}
                  </small>
                </div>
              </div>

              <!-- </div> -->
            </div>
          </ng-container>

          <!-- <div class="app-notes-list__item" [@delete]="notes[0]?.isArchived ? 'delete' : 'void'">
            <a [routerLink]="['/notes', notes[0]?._id]">
              <p class="app-notes-list__item__title">
                {{ notes[0]?.title }}
              </p>
              <div class="app-notes-list__item__body">
                <div [innerHTML]="notes[0]?.body"></div>
              </div>
            </a>
            <span class="app-notes-list__item__remove" (click)="removeNote(notes[0]._id)">
              <mat-icon>close</mat-icon>
            </span>

            <div class="row">
              <div class="col-12 d-flex align-items-center justify-content-between">
                isPinned: {{notes[0]?.isPinned}}
                <mat-icon (click)="pinNote(notes[0])" [@pinUnpin]="notes[0]?.isPinned ? 'pinned' : 'unPinned'"
                  aria-label="Pin Note">push_pin</mat-icon>

                <mat-icon (click)="completeNote(notes[0])" [@completeIncomplete]="
                notes[0]?.isComplete ? 'complete' : 'inComplete'" aria-label="Complete Note">task_alt
                </mat-icon>
              </div>

              <div class="app-notes-list__item__footer">
                <small>
                  {{ notes[0]?.dateCreated | date : "short" }}
                </small>
              </div>
            </div>
          </div> -->


        </div>

        <div *ngIf="!isLoading && isEmptyResult">
          <div class="col-12 mt-3">
            <div class="alert alert-info" role="alert">No notes found.</div>
          </div>
        </div>

        <div *ngIf="isLoading">
          <div class="col-12 mt-5 text-center">
            <div class="spinner-border app-notes-list__spinner" role="status"></div>
          </div>
        </div>

        <div class="row" *ngIf="!isLoading">
          <div class="col-12 mt-3">
            <a [routerLink]="['/notes', 'new']" class="app-notes-list__add">
              <button matRipple type="button">
                <i class="fas fa-plus"></i>
                Add
              </button>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
