<app-header [input]="{ showGoBackIcon: false, step: noteSteps.LIST }"></app-header>

<section class="app-notes-list">
  <div class="container">


    <div class="row mt-3 py-2">
      <div class="col-12 col-lg-4 mx-auto">
        <div class="row">
          <div class="col-12">
            <span class="app-notes-list__filter__container">
              <mat-form-field class="w-100">
                <mat-icon matPrefix>search</mat-icon>
                <mat-label>Filter notes</mat-label>
                <input type="text" matInput formControlName="title" placeholder="Type to begin searching ..."
                  (input)="getNotes(500, $event, true)">
              </mat-form-field>
            </span>
          </div>
        </div>

        <div class="row app-notes-list__items" *ngIf="!isLoading">
          <div class="col-12 mt-3" *ngFor="let item of notes; index as i">
            <div class="app-notes-list__item" [@deleteUndeleteState]="item?.isArchived ? 'delete' : 'void'">
              <a [routerLink]="['/notes', item?._id]">
                <p class="app-notes-list__item__title">
                  {{ item?.title }}
                </p>
                <div class="app-notes-list__item__body">
                  <div [innerHTML]="item?.body"></div>
                </div>
              </a>
              <span class="app-notes-list__item__remove" (click)="removeNote(item._id)">
                <i class="fas fa-x"></i>
              </span>

              <div class="row">
                <div class="col-12 d-flex align-items-center justify-content-between">
                  <i (click)="pinNote(item)" [@pinUnpin]="item?.isPinned ? 'pinned' : 'unPinned'"
                    class="fa-sharp fa-solid fa-thumbtack"></i>

                  <i (click)="completeNote(item)" [@completeIncomplete]="
                      item?.isComplete ? 'complete' : 'inComplete'
                    " class="fa-solid fa-circle-check"></i>
                </div>

                <div class="app-notes-list__item__footer">
                  <small>
                    {{ item?.dateCreated | date : "short" }}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!isLoading && isEmptyResult">
          <div class="col-12 mt-3">
            <div class="alert alert-info" role="alert">No notes found.</div>
          </div>
        </div>

        <div *ngIf="isLoading">
          <div class="col-12 mt-5 text-center">
            <div class="spinner-border app-notes-list__spinner" role="status"></div>
          </div>
        </div>

        <div class="row" *ngIf="!isLoading">
          <div class="col-12 mt-3">
            <a [routerLink]="['/notes', 'new']" class="app-notes-list__add">
              <button matRipple type="button">
                <i class="fas fa-plus"></i>
                Add
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row mt-3 py-2 app-notes-list--rotate">
      <div class="col-12">
        <h2>Please rotate mobile.</h2>
      </div>
    </div> -->
  </div>
</section>
