$cyclamen: #e27396;
$blue-crayola: #3772ff;
$minion-yellow: #f1db4b;
$ruby-red: #a20021;
$space-cadet: #111d4a;

$light-red: #fff3f3;
$light: #fafcfe;
$purple: #a59ad7;
$persian-pink: #fe76c2;
$vivid-sky-blue: #37c7f2;
$medium-sea-green: #3bb273;
$eggplant: #5e4c5a;
