@import "colors";

.toastr-500-error {
    background-color: $cyclamen;
}

.toastr-400-error {
    background-color: $blue-crayola;
}

.toastr-401-error {
    background-color: $minion-yellow;
}

.toastr-404-error {
    background-color: $ruby-red;
}
