<app-header [input]="{ showGoBackIcon: true, step: noteSteps.ITEM }"></app-header>

<section class="app-notes-item">
  <div class="container app-notes-item__container">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="row mt-3 py-2">
        <div class="col-12 col-lg-7 mx-auto app-notes-item__content-wrapper">
          <div class="row mb-4" *ngIf="isEdit">
            <div class="col-12 d-flex align-items-center justify-content-between">
              <i matRipple (click)="pinNote(note)" [@pinUnpin]="note?.isPinned ? 'pinned' : 'unPinned'"
                class="fa-sharp fa-solid fa-thumbtack"></i>

              <i matRipple (click)="completeNote(note)" [@completeIncomplete]="
                  note?.isComplete ? 'complete' : 'inComplete'
                " class="fa-solid fa-circle-check"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <!-- TITLE - START-->
              <div class="row">
                <div class="col-12">

                  <mat-form-field class="w-100">
                    <mat-label>Title</mat-label>
                    <input type="text" matInput formControlName="title" placeholder="Ex. this is a title">
                    <mat-error *ngIf="form?.get('title')?.errors?.['required']">
                      Title is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>

                </div>
              </div>
              <!-- TITLE - END -->

              <!-- BODY - START -->
              <div class="row">
                <div class="col-12">
                  <mat-form-field class="w-100">
                    <mat-label>Body</mat-label>
                    <textarea [rows]="5" matInput formControlName="body" placeholder="Ex. this is a body"> </textarea>
                    <mat-error *ngIf="form?.get('body')?.errors?.['required']">
                      Body is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <!-- BODY - END -->
            </div>
          </div>

          <!-- CTA -->
          <div class="row">
            <div class="col-12">
              <div class="app-notes-item__footer">
                <button matRipple [type]="isEdit ? 'button' : 'reset'" class="app-notes-item__footer__cancel-btn"
                  (click)="cancelForm()">
                  Cancel
                </button>
                <button matRipple type="submit" class="app-notes-item__footer__save-btn"
                  [class.app-notes-button__disabled]="!form.valid || (form.valid && !form.dirty)">
                  Save
                </button>
              </div>
            </div>
          </div>
          <!-- CTA - END -->
        </div>
      </div>
    </form>
  </div>
</section>
